<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liupengstudy.learningspringbootandmybatis.mapper.UserLandingMapper" >
  <resultMap id="BaseResultMap" type="cn.liupengstudy.learningspringbootandmybatis.pojo.UserLanding" >
    <id column="mainKey" property="mainkey" jdbcType="INTEGER" />
    <result column="userID" property="userid" jdbcType="VARCHAR" />
    <result column="landingTime" property="landingtime" jdbcType="VARCHAR" />
    <result column="landingDate" property="landingdate" jdbcType="VARCHAR" />
    <result column="landingIPAdress" property="landingipadress" jdbcType="VARCHAR" />
    <result column="landingLongitude" property="landinglongitude" jdbcType="VARCHAR" />
    <result column="landingLatitude" property="landinglatitude" jdbcType="VARCHAR" />
    <result column="landingPhoneNumber" property="landingphonenumber" jdbcType="VARCHAR" />
    <result column="landingEmail" property="landingemail" jdbcType="VARCHAR" />
    <result column="landingVerificationCode" property="landingverificationcode" jdbcType="VARCHAR" />
    <result column="landingResults" property="landingresults" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    mainKey, userID, landingTime, landingDate, landingIPAdress, landingLongitude, landingLatitude, 
    landingPhoneNumber, landingEmail, landingVerificationCode, landingResults
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userLanding
    where mainKey = #{mainkey,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userLanding
    where mainKey = #{mainkey,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.liupengstudy.learningspringbootandmybatis.pojo.UserLanding" >
    <selectKey resultType="java.lang.Integer" keyProperty="mainkey" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into userLanding (userID, landingTime, landingDate, 
      landingIPAdress, landingLongitude, landingLatitude, 
      landingPhoneNumber, landingEmail, landingVerificationCode, 
      landingResults)
    values (#{userid,jdbcType=VARCHAR}, #{landingtime,jdbcType=VARCHAR}, #{landingdate,jdbcType=VARCHAR}, 
      #{landingipadress,jdbcType=VARCHAR}, #{landinglongitude,jdbcType=VARCHAR}, #{landinglatitude,jdbcType=VARCHAR}, 
      #{landingphonenumber,jdbcType=VARCHAR}, #{landingemail,jdbcType=VARCHAR}, #{landingverificationcode,jdbcType=VARCHAR}, 
      #{landingresults,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.liupengstudy.learningspringbootandmybatis.pojo.UserLanding" >
    <selectKey resultType="java.lang.Integer" keyProperty="mainkey" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into userLanding
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userID,
      </if>
      <if test="landingtime != null" >
        landingTime,
      </if>
      <if test="landingdate != null" >
        landingDate,
      </if>
      <if test="landingipadress != null" >
        landingIPAdress,
      </if>
      <if test="landinglongitude != null" >
        landingLongitude,
      </if>
      <if test="landinglatitude != null" >
        landingLatitude,
      </if>
      <if test="landingphonenumber != null" >
        landingPhoneNumber,
      </if>
      <if test="landingemail != null" >
        landingEmail,
      </if>
      <if test="landingverificationcode != null" >
        landingVerificationCode,
      </if>
      <if test="landingresults != null" >
        landingResults,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="landingtime != null" >
        #{landingtime,jdbcType=VARCHAR},
      </if>
      <if test="landingdate != null" >
        #{landingdate,jdbcType=VARCHAR},
      </if>
      <if test="landingipadress != null" >
        #{landingipadress,jdbcType=VARCHAR},
      </if>
      <if test="landinglongitude != null" >
        #{landinglongitude,jdbcType=VARCHAR},
      </if>
      <if test="landinglatitude != null" >
        #{landinglatitude,jdbcType=VARCHAR},
      </if>
      <if test="landingphonenumber != null" >
        #{landingphonenumber,jdbcType=VARCHAR},
      </if>
      <if test="landingemail != null" >
        #{landingemail,jdbcType=VARCHAR},
      </if>
      <if test="landingverificationcode != null" >
        #{landingverificationcode,jdbcType=VARCHAR},
      </if>
      <if test="landingresults != null" >
        #{landingresults,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.liupengstudy.learningspringbootandmybatis.pojo.UserLanding" >
    update userLanding
    <set >
      <if test="userid != null" >
        userID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="landingtime != null" >
        landingTime = #{landingtime,jdbcType=VARCHAR},
      </if>
      <if test="landingdate != null" >
        landingDate = #{landingdate,jdbcType=VARCHAR},
      </if>
      <if test="landingipadress != null" >
        landingIPAdress = #{landingipadress,jdbcType=VARCHAR},
      </if>
      <if test="landinglongitude != null" >
        landingLongitude = #{landinglongitude,jdbcType=VARCHAR},
      </if>
      <if test="landinglatitude != null" >
        landingLatitude = #{landinglatitude,jdbcType=VARCHAR},
      </if>
      <if test="landingphonenumber != null" >
        landingPhoneNumber = #{landingphonenumber,jdbcType=VARCHAR},
      </if>
      <if test="landingemail != null" >
        landingEmail = #{landingemail,jdbcType=VARCHAR},
      </if>
      <if test="landingverificationcode != null" >
        landingVerificationCode = #{landingverificationcode,jdbcType=VARCHAR},
      </if>
      <if test="landingresults != null" >
        landingResults = #{landingresults,jdbcType=INTEGER},
      </if>
    </set>
    where mainKey = #{mainkey,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.liupengstudy.learningspringbootandmybatis.pojo.UserLanding" >
    update userLanding
    set userID = #{userid,jdbcType=VARCHAR},
      landingTime = #{landingtime,jdbcType=VARCHAR},
      landingDate = #{landingdate,jdbcType=VARCHAR},
      landingIPAdress = #{landingipadress,jdbcType=VARCHAR},
      landingLongitude = #{landinglongitude,jdbcType=VARCHAR},
      landingLatitude = #{landinglatitude,jdbcType=VARCHAR},
      landingPhoneNumber = #{landingphonenumber,jdbcType=VARCHAR},
      landingEmail = #{landingemail,jdbcType=VARCHAR},
      landingVerificationCode = #{landingverificationcode,jdbcType=VARCHAR},
      landingResults = #{landingresults,jdbcType=INTEGER}
    where mainKey = #{mainkey,jdbcType=INTEGER}
  </update>
</mapper>